.flight-edit
{
    .flight-edit-form
    {
        width: 300px;
        margin: auto;
    
        .title
        {
            margin: 10px;
            font-size: 16px;
            font-weight: 600;
        }
    }
}