@{
    ViewData["Title"] = "Home Page";
}

    <div class="search-component">
        <form id="searchForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Search</label>
                <input type="text" class="form-control" name="SearchWord" id="SearchWord" placeholder="Search Word">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="search-results"></div>
    </div>
